
.hero-img{
    height: 100%;
    width: 100%;
}
.hero-img .heading{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    text-align: center;
}

.hero-img .heading h1{
    font-size: 4rem;
    padding: 0.6rem 0 1.5rem;
}
.hero-img .heading p{
    font-size: 1.4rem;
    font-weight: 200;
    text-transform: uppercase;

} 

.mask{
    width: 100%;
    height: 100vh;
    position: relative;
}
.into-img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;

}

.mask::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    opacity:0.8;

}
.hero-img{
    height: 100%;
    width: 100%;
}
.hero-img .content{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    text-align: center;
}

.hero-img .content h1{
    font-size: 4rem;
    padding: 0.6rem 0 1.5rem;
}
.hero-img .content p{
    font-size: 1.4rem;
    font-weight: 200;
    text-transform: uppercase;

}
@media screen and (max-width:640px) {
    .hero-img h1{
        font-size: 2rem;
    }
    
}